
{% extends 'base.html' %}

{% block title %}
Product Details
{% endblock %}

{% block content %}

<div class="container mt-4 mb-4">
    <h3>Product: {{allproducts.title}}</h3><hr>
    <div class="row">
        <div class="col-md-4">
            <img src="{{allproducts.image.url}}" alt="" class="img-fluid">
            <!-- <div class="row">
                {% for obj in allproducts.productimage_set.all %}
                <div class="col-md-4 p-3">
                    <a href="{{pi.image.url}}" target="_blank">
                        <img src="{{pi.image.url}}" class="img-fluid" style="height: 100px; object-fit: contain;" alt="">
                    </a>
                </div>
                {% endfor %}
            </div> -->
        </div>

        <div class="col-md-8">
            {% include 'products/snippets/update-cart.html' with product=object cart=cart %}

           
        </div>

        <div class="col-md-8">
            <h4>{{allproducts.title}}</h4>
            <!-- <h5>Category: {{product.category}}</h5> -->
            <h5>Price: <strike>Tk. {{allproducts.marked_price}}</strike> <br/> Tk. {{allproducts.selling_price}}</h5>

                    <hr>
            <p>Product added {{ allproducts.timestamp|timesince}} ago </p><br/>
            <h4>Product Viewed {{allproducts.view_count}} times</h4>
            <p class="text-info">Warranty: {{allproducts.warranty}}</p>
            <p class="text-info">Return Policy:{{allproducts.return_policy}}</p>
            <hr>
            <p>{{allproducts.description}}</p>
        </div>

    </div>

</div>

{% endblock %}
