

{% extends 'base.html' %}

{% block title %}

Login Page

{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h3 class="mt-4 mb-4">Login Form</h3><hr>
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <button class="btn btn-primary mb-4">Login</button>
                {% if error %}
                <li style="color: red;"></li>
                {% endif %}
            </form>
            <p>Forgot Password?<a href="">Reset now.</a></p>
            <p> or dont have account? <a href="{% url 'accounts:register' %}">Register here</a></p>

        </div>
    </div>
</div>

{% endblock %}
