{% extends 'base.html' %}

{% block title %}

Registration Page

{% endblock %}

{% block content %}
   
        <div class="container mt-4 mb-4">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <h3 class="mt-4 mb-4">Registration Form</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn btn-primary">Register</button>
                    </form>
                    <p class="mt-4 mb-4"> Already have an account? <a href="{% url 'accounts:login' %}">Login here</a></p>
                </div>
            </div>
        </div>
        

{% endblock %}

